
html{
	height: 100%
	
}
* {
	margin: 0;
	padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #eee;
    color: #4e4544;
    font-family: "Arial", sans-serif;
	height: 100%
}

/* Page Layout */

.container{
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 60px;
	min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

header{
    color: #547BA6;
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
header button {
    background-color: #547BA6;
    border: none;
    padding: 8px 10px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */



.main {
    text-align: center;
    flex: 1 0 auto;
    
   
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
	text-align: justify;
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}





/* Footer */

footer {
    color: #547BA6;
    padding: 20px 0;
    
	display: flex;
	justify-content: space-between;
	
	
}
footer div{

	
}

footer p {
    color: #777;
    font-size: 12px;
    padding: 10px;
}


 

