html{
	height: 100%
	
}
body {
	
    font-family: "Arial", sans-serif;
	height: 100%;
	margin: 0px;
	padding: 0;
}
a{
	color: white;
	
}
.background{
	
	/*height: 100%;
  background-image:
    linear-gradient(45deg, #90A6BB 25px, transparent 25px),
    linear-gradient(-135deg, #557CA6  25px, transparent 25px),
    linear-gradient(45deg, #557CA6 25px, transparent 25px),
    linear-gradient(-135deg, #90A6BB 25px, transparent 25px),
    linear-gradient(135deg, #90A6BB 25px, transparent 25px),
    linear-gradient(315deg, #90A6BB 25px, transparent 25px);
   
    
    background-position:
    70px -45px,
-45px -80px,
35px 70px,
-80px 35px,
35px -45px,
-45px 35px;
  background-size: 115px 115px;
  background-repeat: round;*/
	
	
	
	height: 100%;
  background-color: #90A6BB;
  background-image:
    linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%),
    linear-gradient(45deg, white 25%, transparent 25%),
    linear-gradient(315deg, white 25%, transparent 25%);
  background-position:
    25px 0,
    25px 0,
    0 0,
    0 0;
  background-size: 50px 50px;
  background-repeat: repeat;
}
.container{
    max-width:1920px;
    
    margin: 0 auto;
   
	min-height: 100%;
    display: flex;
    flex-direction: column;
	
	
}
header{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color:#557CA6;
	
	
}
.head{
	
	background-color: #557CA6;
	margin: 0 20%;
	padding: 0  10px;
	text-align: center;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: center;	
}
.hr li{
	display: inline;
	list-style-type: none;
	text-align: center;
	margin-right: 40px;
}
.video{
	background: linear-gradient(#547BA6,#6B91B4);
	background-color: #6B91B4;
	text-align: center;
	
}
.main{
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 20%;
}
aside{
	background: linear-gradient(#6B91B4,#90A6BB);
	flex-basis: 20%;
	margin-right: 5px;
}
section{
	background: linear-gradient(#6B91B4,#90A6BB);
	margin-left: 5px;
	flex-basis: 80%;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 220px 220px 220px;
	grid-template-rows: 250px auto;
	justify-content: center;
	align-items: center;
}
 ul.sr{
	 list-style-type: none;
	 margin: 0; /* Обнуляем значение отступов */
    padding: 5px; /* Значение полей */
	text-align: center;
 }
 ul.sr li{
	 
	 margin-right: 5px; /* Отступ слева */
    padding: 5px; /* Поля вокруг текста */
	font-size: 16px;
 }
 h3{
	 text-align: center;
	 
 }
 .img{
	 grid-column-start: 1;
  grid-column-end: -1;
	 
	 
 }
 footer{
	 display:flex;
	background-color: #90A6BB;
	justify-content: space-between;
	align-items: center;
 }
.logo{
	margin: 10px;
	
}
 .logo img{
	 border-radius: 10px;
	 margin: 5px;
 }
 a:hover{
	 color: black;
	 font-size: 20px;
 }
@media all and (max-width: 900px) {
 
  .main {
 flex-direction: column;
  }
  aside{
	  background: linear-gradient(#6B91B4,#7C9BB8);
	  margin-right: 0px;
	  
  }
  section{
	  background: linear-gradient(#7C9BB8,#90A6BB);
	  margin-left: 0px;
	  grid-template-columns: 220px;
	  grid-template-rows: 250px 250px 250px auto;
  }
  .img{
	  display: none;
	  
  }
  .video{
	  
	  display: none;
	  
  }
 .head{
	  font-size: 10px;
	  
  }