html,
body {
  margin: 0;
  padding: 0;

}

body {
  width: auto;
  height: 600px;

  font-size: 10px;
  font-family: "Arial", sans-serif;
  color: black;
}
h1{
	font-size: 18px;
	color: white;
	
}
li{
	list-style-type: none;
	text-align: center;
}
.header{
  background: radial-gradient(#ACB9C2, #5980AB);
  padding-top: 10px;
  text-align: center;
  
  }
.main{
  background-image: url("123.jpg");
  height: 680px;
  width:auto;
  padding-top: 10px;
  }

.head{
  background-color: #ACB9C2;
  min-height: 25px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  
   }
.menu{
  background-color: #547BA6;
  min-height: 20px;
  padding:5px;
 
  
  }

  .column{
  background-color: #546779;
  width: 480px;
  min-height: 55px;
 
  text-align: center;
  
    }
.promo-1{
  display:inline;
  margin-right: 10px;  
  
 
 
  }
.promo-2{
  float: right;
  }
.layout{
  
  min-height: 650px;
  margin-right: 10px;
  padding: 5px;
  background: linear-gradient(#678FB3,#ACB9C2);
  
  }
.layout:last-child{
  margin-right: 0px;
  
  
  }
.layout-1{
  float: left; 
  width: 100px;
  text-align: center;
  margin-right: 10px;
  ]
  
  }
.layout-3{
  float: left;
  width: 870px;
  }

.layout-positioner {
  width: 1000px;
  margin: 0 auto;
  
}
.layout-positioner::after {
  content: "";
  display: table;
  clear: both;
}
.footer{
  min-height: 25px;
  padding:5px;
  padding-left: 55px;
  padding-top: 15px;
	background-color: #384D6A;
  }
 ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 5px; /* Значение полей */
	text-align: center;
	
   }
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
	
   }
 ul.sr{
	 margin: 0; /* Обнуляем значение отступов */
    padding: 5px; /* Значение полей */
	text-align: center;
 }
 ul.sr li{
	 margin-right: 5px; /* Отступ слева */
    padding: 5px; /* Поля вокруг текста */
	font-size: 16px;
 }


.header a{
	color: white; 
	font-size: 16px;
	  }
.header a:hover{
	
		color: black;
		font-size: 20px;
	}
.sr a{
	color: black;
	
	
}

.pic{
	
	
	margin-right: 10px;
	
}


.pic1{
	float: left;
	
}
.pic2{
	float: left;
	margin-left: 95px;
}
.pic3{
	float: right;
	margin-right: 0px;
}
.cr div{
	vertical-align: middle;
	display: inline;
	
}
.cr img{
	border-radius: 10px;
	margin: 5px;
}
.cr img:hover{
	border-radius: 15px;
	width: 40px;
	height: 40px;
	transition: 0.3;
}

/*
  Используемые цвета:
  #34495e – мокрый асфальт
  #c0392b – красный
  #3498db – синий
*/